
 
   /*  transform is not good for positioning */
   /* color: blue;
    text-shadow: 2px 8px 8px  tomato;
}
h1:first-of-type {
    transform:
    translate(300px, 400px)
    rotate(-40deg)
    scale(2)
    skewX(30deg) ;
    transition-delay: 2s;
}

h1:last-of-type {
    transform:
    translate(300px, 650px)
    rotate(40deg)
    scale(2)
    skewX(30deg) ;
    transition-delay: 3s;
    
    
}
h1:last-of-type:hover {
    transform:
    translate(300px, 650px)
    rotate(40deg)
    scale(2)
    skewX(30deg) ;
    transition-delay: 3s;

} */
div {
    height: 200px; 
    width: 200px;
    margin: 2%;
    /* box-shadow:2px 2px 8px 8px tomato, 4px 4px 12px 12px black; */
    font-size: 20px;
   
}

div:first-of-type {
    color: rgb(32, 22, 22);
    transition: all 3s;
    background-color: yellow;
    transform:
    translate(200px,1750px);
    transition-timing-function:ease-in-out;
    border-top-left-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
div:nth-last-of-type(2) {
    transform:
    translate(400px,200px);
    background-color: red;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    border-radius: 50%;
    transition-delay: 3s;
    height: 300px;
    width: 300px;
}
div:nth-last-of-type(1) {
    transform:
    translate(700px,200px);
    background-color: yellow;
    color: black;
    transition: all 1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 100%;
}
/* div:first-of-type:hover {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    box-shadow: 4px 4px 8px 8px black;
    border-top-left-radius:50%;
    border-bottom-right-radius: 50%;
    
}
div:nth-last-of-type(2):hover {
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 8px black;
    
}
div:nth-last-of-type(1):hover {
    width: 300px;
    height: 300px;
    background-color: red;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 8px black; 

}*/
/*  */
div:nth-last-of-type(3) {
    transform:
    translate(700px,200px);
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    border-top-right-radius: 100%;
    transition-delay: 3s;
}
div:nth-last-of-type(4) {
    transform:
    translate(700px,700px);
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    transition-delay: 3s;
    
    
}
div:nth-last-of-type(5) {
    transform:
    translate(200px,1190px);
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    border-bottom-left-radius: 100%;
    transition-delay: 3s;
}
div:nth-last-of-type(6) {
    transform:
    translate(200px,1140px);
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    transition-delay: 3s;
}
div:nth-last-of-type(7) {
    transform:
    translate(420px,1630px);
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    transition-delay: 3s;
    width: 250px;
    height: 200px;
}
div:nth-last-of-type(8) {
    transform:
    translate(420px,1310px);
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    width: 250px;
    height: 200px;
    transition-delay: 3s;
}

div:nth-last-of-type(4):hover {
    width: 300px;
}
div:nth-last-of-type(2):hover {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 8px black;
    
}