@keyframes sun {
    from {
        background-image: repeating-radial-gradient(pink,violet,silver);
    }
    to {
        background-image: repeating-radial-gradient(black,red,silver,yellow);
    }
}
@keyframes moon {
    from {
        background-image: repeating-radial-gradient(red,blue,white,olive);
    }
    to {
        background-image: repeating-radial-gradient(pink,violet,silver);
    }
}
@keyframes sec {
    0%{background-color: black;}
    30%{background-color: whitesmoke;}
    60%{background-color:violet;}
    90%{background-color: red;}
}
@keyframes color {
    0%{background-color: blue;}
    20%{background-color: olive;}
    50%{background-color: brown;}
    100%{background-color: black;}
}
div:nth-of-type(even){
    color:silver;
    animation: sun 2s infinite;
    border-radius: 20px;

}
div:nth-of-type(odd) {
    font-size: 30px;
    color: black;
    animation: moon 2s infinite;
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    
}
body {
    font-size: 30px;
    animation: color 3s infinite,sun 5s;
    margin: 2%;
}
div {
    height: 100px;
    background-color: rosybrown;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}
section {
    animation: sec 3s infinite,sun 3s 100;
}
