body {
    margin: 5%;
    background-color: tomato;
}
.font {
    position: relative;
    width: 300px;
    height: 300px;
    transition: all 1s;
    transform-style: preserve-3d;
}
section:hover .font{

    transform:
    rotateY(180deg);
    
}
.font2,.back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden
}

.back {
    height: 100%;
    background-color: blue;
    color: white;
    transform: rotateY(180deg);
}
section {
    display: inline-block;
}